*, *::before, *::after {
    box-sizing: border-box;
    /* outline: 1px solid white;   */
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  :root {
    /** Colors */
    --Primary-Soft-blue: hsl(215, 51%, 70%);
    --Primary-Cyan: hsl(178, 100%, 50%);
    --Main-background: hsl(217, 54%, 11%);
    --card-background: hsl(216, 50%, 16%);
    --border: hsl(215, 32%, 27%);
    
    /** Fonts */
    --font-primary: Outfit;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --font-size: 1.2rem;
  }

  body {
    width: 100%;
    display: grid;
    place-content: center;
    background-color: var(--Main-background);
    font-family: var(--font-primary);
    font-size: var(--font-size);
    color: white;
  }

  .card-container {
    background-color: var(--card-background);
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
}

.nft-card {
    display: grid;
    gap: 1rem;
}

/* Overlay effect */

.img-container {
  position: relative;
  width: 100%;

}

#nft {    
  border-radius: 8px;
  display: block;
  width: 100%;
  height: auto;
}



.overlay {
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  background-color: var(--Primary-Soft-blue);
}

.overlay img {
  display: grid;
  place-content: center;
}

.overlay:hover {
  opacity: 0.7;
}


/**---------------------------------- */

.nft-card :is(h2) {
    font-weight: var(--fw-semi-bold);
    cursor: pointer;
}

.nft-card :is(h2):hover {
    color: var(--Primary-Cyan);
}

.nft-card :is(p) {
    font-weight: var(--fw-light);
    color: var(--Primary-Soft-blue);
}


.price-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding-bottom: 1rem;
}

#price, #remaining-time {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#price :is(p) , #remaining-time :is(p) {
    padding-left: 0.3rem;
    font-size: 1rem;
    font-weight: var(--fw-light);
    
}

#price :is(p) {
    color: var(--Primary-Cyan);
}

#remaining-time :is(p) {
    color: var(--Primary-Soft-blue);
}

.creator-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--fw-light);
    font-size: 1rem;
    cursor: pointer;
}

.creator-detail img {
    display: block;
    max-width: 15%;
    border: 1px solid white;
    border-radius: 50px;
    
}

.creator-detail :is(span) {
    color: #ffffff;
}

.creator-detail :hover :is(span) {
    color: var(--Primary-Cyan);
}

/** Large screen */

@media screen and (min-width: 15em) {
  .card-container {
    max-width: 350px;
    margin: 3rem;
  }
}

/**.............................................*/


/** Dark-mode toggle*/

.checkbox-label {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #fff;
  position: relative;
  box-shadow:inset 0px 0px 3px 2px rgb(219, 217, 217);
  cursor: pointer;
  transition: ease 0.5s;
}

.checkbox-label svg {
  position: absolute;
  z-index: 10;
  width: 30px;
  height: 30px;
}

.checkbox-label svg.sun-icon {
  top: 5px;
  left: 5px;
  fill:#000000;
  transition: 0.3s;
  display: block;
}

.checkbox-label svg.moon-icon {
  top: 6px;
  left: 5px;
  fill:#7e7e7e;
  transition: 0.3s;
  display: none;
}

input:checked + .checkbox-label svg.sun-icon {
  fill:#7e7e7e;
  display: none;
}

input:checked + .checkbox-label svg.moon-icon {
  fill:#ffffff;
  display: block;
}


input {
  width: 0;
  height: 0;
  display: none;

}

input:checked + label {
  background-color: var(--card-background);
  box-shadow:inset 0px 0px 3px 2px #000000;
}

input:checked + label::after {
  /* background: linear-gradient(180deg, #777, #3a3a3a); */
}

/**.......................................*/